.games {
  @include section;

  .inner-wrap {
    @include wrap;
  }
}

.filters-loader {
  display: block;
  width: rem-calc(100);
  margin-left: auto;
  margin-right: auto;
  margin-top: ($gutter-base / 2);
}