// ---------------------------------- GAME STYLES -------------------------------------------------------------
.Game 
	border: 2px solid #c7afd8bf
	padding: 30px
	cursor: pointer
	height: 300px
	margin-bottom: 30px

	h3
		margin-top: 25px
		margin-bottom: 5px
		font-size: 16px
		cursor: pointer
		color: #615c5c

	p 
		text-transform: uppercase
		font-size: 10.5px
		font-weight: bold
		color: #562894
		margin: 0
		cursor: pointer
		
	.image-div
		height: 70%
		width: 100%
		background-position: center
		background-size: contain
		background-repeat: no-repeat 
		transition: .3s all ease

	&:hover
		border: 3px solid #562894
		.hover-description
			opacity: 1
		.image-div 
			height: 62%

	.hover-description
		opacity: 0
		margin-top: 10px
		transition: all .3s ease
		text-transform: lowercase
		.m-right 
			margin-right: 15px

// ---------------------------------- NAVBAR STYLES -------------------------------------------------------------
.Navbar
	.container
		padding-top: 6px
		padding-bottom: 6px
		border-bottom: 1px solid #eee
	.navbar-h4
		display: inline-block
		margin-right: 5px
		margin-top: 0
		margin-bottom: 0
		font-size: 20px
	.nav-questionmark
		padding: 2px 10px
		background-color: #562894
		color: white
		font-size: 16px
		font-weight: bold
		margin-right: 5px
		cursor: pointer
		margin-left: 43px
	.question-after::after
		    border: solid transparent
		    content: " "
		    height: 0
		    width: 0
		    position: absolute
		    pointer-events: none
		    border-color: rgba(86, 40, 148, 0)
		    border-bottom-color: #562894
		    border-width: 10px
    		margin-top: 26px
    		margin-left: -13px
	.hamburger,
	.close-btn
		font-size: 20px
		margin-left: 5px
		cursor: pointer
	.flex 
		align-items: center
		display: flex

// ---------------------------------- NAVBAR MENU STYLES ----------------------------------------------------------
.NavbarMenu
	height: 90vh
	ul
		list-style-type: none
		line-height: 3.5
		li
			border-bottom: 1px solid #eee
			a
				color: #615c5c
				font-weight: 500
				letter-spacing: 0.4px
				font-size: 16px

// ---------------------------------- HEADER STYLES -------------------------------------------------------------
.Header 
	color: white
	margin-bottom: 10px
	.container 
		background-color: #562894		
	.flex-header
		display: flex
		justify-content: space-evenly
	.header-inner
		flex-basis: 219px
		align-items: center
		text-align: center
		img
			width: 66%
		h4 
			color: #b091c5
			font-size: 14px
			margin-top: 35px
			line-height: 1.3
			letter-spacing: 0.5px
			span
				color: white
				display: block
		hr
			width: 90%
		p
			font-size: 13.5px
			letter-spacing: 0.1px
			word-spacing: 2px
	.m-y
		margin: 20px 0	
	.start-btn
		color: white
		border: 1px solid #b091c5
		padding: 10px 130px
		font-size: 24px
		margin: 2px 0 11px 0
		text-decoration: none
		cursor: pointer
		background-color: #562894
		&:hover
			background-color: #a075bd

// ---------------------------------- FOOTER STYLES -------------------------------------------------------------
.Footer 
	.container-fluid
		background-color: #562894
		color: white
	h2 
		font-weight: normal
		margin-bottom: 40px
	.col-md-4:nth-child(1) 
		p
			width: 55%
	.col-md-4:nth-child(2) 
		p
			width: 70%
	ul
		list-style-type: none
		padding-left: 0
		a
			color: white
	img 
		width: 3%
		margin-right: 15px
	.m-y 
		margin-top: 30px
	.p-bt
		padding-bottom: 25px

// ---------------------------------- STAFFPICK STYLES -------------------------------------------------------------
.StaffPick
	border: 2px solid #eee
	padding: 25px 25px 20px 25px
	cursor: pointer
	transition: .7s all ease
	img
		width: 60%

	.StaffPick-image
		margin-bottom: 30px
		height: 153.141px
		background-color: #d3d3d354

	h4 
		font-size: 10.5px
		font-weight: 800
		letter-spacing: 0.5px
		color: #562894
		margin: 0
		cursor: pointer
		span
			position: relative
			top: -2px
			left: -1.5px
			font-size: 9px
			letter-spacing: -1px
	h3
		margin-top: 12px
		margin-bottom: 12px
		font-size: 18px
		cursor: pointer
		color: #615c5c
	p
		font-size: 13px
		cursor: pointer !important
		color: #615c5c
	button
		color: #615c5c
		font-weight: 500
		border: 1px solid #eee
		padding: 15px 0px
		width: 100%
		margin: 0 auto
		font-size: 11px
		text-decoration: none
		background-color: white
	.description-div
		width: 100%
		height: 108px
		margin-bottom: 14px
		overflow-y: hidden
		&::after 
		   content: ''
		   position: absolute
		   bottom: 74px
		   height: 38px
		   left: 20px
		   right: 20px
		   background: -webkit-linear-gradient(rgba(255,255,255,0.4) 0%, #fff 90%)
		   background: -moz-linear-gradient(rgba(255,255,255,0.4) 0%, #fff 90%)
		   background: -o-linear-gradient(rgba(255,255,255,0.4) 0%, #fff 90%)
		   background: -ms-linear-gradient(rgba(255,255,255,0.4) 0%, #fff 90%)
		   background: linear-gradient(rgba(255,255,255,0.4) 0%, #fff 90%)
		   display: block
		   z-index: 1
	&:hover
		border: 2px solid #562894
		button
			background-color: #562894
			color: white

// ---------------------------------- STAFFPICKS STYLES ------------------------------------------------------------
.StaffPicks
	hr
		border-top: 2px solid #eee
	.purple-hr
	    margin-left: 0
	    position: absolute
	    border-top: 2px solid #562894
	    top: 29px
	    width: 22%

// ---------------------------------- FILTERS STYLES --------------------------------------------------------------
.Filters
	margin-top: 30px
	.row:nth-child(1)
		background-color: #d3d3d354
		padding: 20px 0
		h5
			margin-top: 0
			color: #615c5c
		.col-md-4:nth-child(1)
			padding-right: 0
		.col-md-4:nth-child(2)
			padding-left: 3px
			padding-right: 3px
		.col-md-4:nth-child(3)
			padding-left: 0
		.col-md-4:nth-child(5)
			padding-left: 0
		.col-md-6:nth-child(1)
			padding-right: 0
		.col-md-6:nth-child(2)
			padding-left: 3px
	.row:nth-child(2)
		h5
			margin: 25px 0
			font-weight: 700
			letter-spacing: 0.2px
			a
				color: #615c5c
				text-decoration: none
				cursor: pointer
	button
		background-color: white
		border: 1px solid #562894
		padding: 9px
		color: #562894
		font-size: 12px
		font-weight: 500
		transition: all .2s linear
		span
			color: #8a7d7db5
			font-weight: normal
		@media not all and (pointer: coarse) 
			&:hover
				background-color: #562894d4
				color: white
				span
					color: white
	.active 
		background-color: #562894
		color: white
		span
			color: white


// ---------------------------------- GAMEPAGE STYLES ----------------------------------------------------------
.Gamepage
	margin-top: 30px
	margin-bottom: 20px
	.flex
		display: flex
	.flex-advanced
		display: flex
		justify-content: center
		align-items: center
	.game-image
		width: 100%
		height: 265px
	h4 
		font-size: 11px
		font-weight: 700
		letter-spacing: 0.5px
		color: #562894
		text-transform: uppercase
		margin: 0
		span
			position: relative
			top: -2px
			left: -1.5px
			font-size: 9px
			letter-spacing: 0px
	h2
		margin-top: 7px
		margin-bottom: 7px
		color: #615c5c
	p
		color: #615c5c
	.col-md-5
		margin-top: 40px
	.col-md-1
		margin-top: 40px
		border-left: 1px solid #eee
		a
			color: #615c5c
			text-decoration: none
			font-size: 11px
			letter-spacing: 1px
			text-align: center
			&:hover
				color: #562894
			i
				padding-bottom: 10px
	> .row:nth-child(2)
		background-color: #eee
		margin-top: 50px
		padding: 25px 0
		.row
			align-items: center
			display: flex
			justify-content: center
			h5
				margin: 0
				font-size: 11.5px
				font-weight: 700
				color: #615c5c
			p
		    	margin: 0
		    	font-size: 11.5px
			i
		    	color: #615c5c
	.p-left
		padding-left: 35px
	> .row:nth-child(3)
		margin-top: 30px
		h3
			font-size: 20px
			color: #615c5c
			font-weight: 700
			margin-bottom: 20px
		span
			color: #615c5c
	> .row:nth-child(4)
		margin-top: 60px
		margin-bottom: 60px
	.stepImg 
		width: 66%
	hr
		margin-bottom: 0

// ---------------------------------- BUTTON-UP STYLES ----------------------------------------------------------
.button-up
	padding: 0 5px 5px 5px
	color: white
	border: 2px solid white
	background-color: #562894
	span
		font-size: 9px
		letter-spacing: 0.7px
		display: block
		font-weight: 500
	i
		font-size: 2.5em

// ---------------------------------- MEDIA-STYLES ----------------------------------------------------------
@media screen and (max-width: 2560px) 
	.Navbar
		.NavbarMenu
			height: 100vh
	.Footer 
		.col-md-4:nth-child(1)
			p
    			width: 100%
		.col-md-4:nth-child(2)
			p
    			width: 100%
		img
    		width: 1.7%


@media screen and (max-width: 1965px)
	.Footer
		h2
			font-size: 29px
		.col-md-4:nth-child(1) 
			p
				width: 60%
		.col-md-4:nth-child(2) 
			p
				width: 70%
		img
			width: 2.5%

@media screen and (max-width: 1904px)
	.Footer
		h2
			font-size: 28px

@media screen and (max-width: 1845px)
	.Footer
		h2
			font-size: 27px

@media screen and (max-width: 1785px)
	.Footer
		h2
			font-size: 26px

@media screen and (max-width: 1726px)
	.Footer
		h2
			font-size: 25px

@media screen and (max-width: 1666px)
	.Footer
		h2
			font-size: 24px

@media screen and (max-width: 1607px)
	.Footer
		h2
			font-size: 23px

@media screen and (max-width: 1547px)
	.Footer
		h2
			font-size: 22px

@media screen and (max-width: 1488px)
	.Footer
		h2
			font-size: 21px

@media screen and (max-width: 1428px)
	.Footer
		h2
			font-size: 20px

@media screen and (max-width: 1369px)
	.Footer
		h2
			font-size: 19px

@media screen and (max-width: 1366px)
	.col-lg-8
		width: 83.33333333%
	.col-lg-offset-2
		margin-left: 8.33333333%

@media screen and (max-width: 1309px)
	.Footer
		h2
			font-size: 18px

@media screen and (max-width: 1250px)
	.Footer
		h2
			font-size: 17px

@media screen and (max-width: 1199px)
	.Navbar 
		.nav-questionmark
			margin-left: 0
			&::after
			    margin-top: 23px
   				margin-left: -14px
		h4
   			margin-left: 44px
	.Footer 
		.col-md-4:nth-child(1) 
			p
				width: 80%
		.col-md-4:nth-child(2) 
			p
				width: 80%
		img	
			width: 2.5%
	.button-up,
	.nav-questionmark,
	.Header
		display: none
	.Filters
		button
			padding: 8px 6px

@media screen and (max-width: 1024px)
	.Filters 
		button
			font-size: 11px
		.active 
			background-color: #562894
			color: white
			span
				color: white	
	.row:nth-child(1) 
		.col-md-4:nth-child(1)
			padding-left: 12px
	.Navbar 
		.nav-questionmark
			margin-left: 12px
	.StaffPick 
		button
			padding: 15px 0px
			width: 100%
		.description-div
			&::after
				height: 29px
	.button-up
		display: none
	.Footer 
		h2
			font-size: 25px
		.col-md-4:nth-child(2) 
			p
				width: 88%
		.col-md-4:nth-child(1) 
			p
				width: 82%
	.NavbarMenu
		ul
			padding-left: 0
			margin-top: 25px

@media screen and (max-width: 999px)
	.Footer
		h2
			font-size: 24px

@media screen and (max-width: 991px)
	.Navbar 
		h4
    		margin-left: 0

@media screen and (max-width: 990px)
	.StaffPick
		margin-top: 20px
		button
			width: 100%
	.StaffPicks 
		.purple-hr
			top: 19px

@media screen and (max-width: 964px)
	.Footer
		h2
			font-size: 23px

@media screen and (max-width: 928px)
	.Footer
		h2
			font-size: 22px

@media screen and (max-width: 892px)
	.Footer
		h2
			font-size: 21px

@media screen and (max-width: 892px)
	.Footer
		h2
			font-size: 20px

@media screen and (max-width: 892px)
	.Footer
		h2
			font-size: 19px
		img
			width: 3%

@media screen and (max-width: 785px)
	.Footer
		h2
			font-size: 18px

@media screen and (max-width: 768px)
	.StaffPick
		margin-bottom: 30px
		.description-div
			&::after
				bottom: 104px
	.Footer 
		h2
			font-size: 18px
			margin-bottom: 25px
		.col-md-4:nth-child(1) 
			p
				width: 100%
				font-size: 13px
		.col-md-4:nth-child(2) 
			p
				width: 100%
				font-size: 13px 
		ul 
			a
				font-size: 13px
		.row:nth-child(2)
			margin-top: 20px
		.row:nth-child(1)
			margin-top: 10px

	.StaffPicks 
		.purple-hr
			top: 19px
	.NavbarMenu
		ul
			padding-left: 0
			margin-top: 25px
	.Gamepage 
		.game-image
			height: 180px
			margin-top: 25px
		.row:nth-child(2) 
			.row
				display: block
				text-align: center
				h5
					margin-top: 10px
				p
					margin-top: 10px
		.p-left
			padding-left: 0
		> .row:nth-child(4)
			margin-top: 30px
			margin-bottom: 30px
		.stepImg
			width: 40%
		.flex
			flex-direction: column
		.flex-advanced
			display: block
	.StaffPick 
		button
			padding: 15px 0px
		&:hover
			border: 2px solid #eee
			button
				background-color: white
				color: #615c5c
	.Filters 
		button
			padding: 12px

@media screen and (max-width: 767px)
	.Navbar 
		.hamburger, 
		.close-btn
			font-size: 27px
			margin-left: 53px
		img
			width: 70%
	.Footer
		.col-md-4:nth-child(2),
		.col-md-4:nth-child(1) 
			border-bottom: 1px solid #eeeeee9e
		p
				margin-bottom: 25px
		img
			width: 5%

@media screen and (max-width: 748px)
	.StaffPick
		button
			padding: 15px 0

@media screen and (max-width: 650px)
	.Navbar 
		.hamburger, 
		.close-btn
			margin-left: 40px

@media screen and (max-width: 550px)
	.Navbar 
		.hamburger, 
		.close-btn
			margin-left: 30px

@media screen and (max-width: 480px)
	.Navbar 
		.hamburger, 
		.close-btn
			margin-left: 20px
		img
			width: 90%

@media screen and (max-width: 430px)
	.StaffPick
		h3
			font-size: 17px

// ---------------------------------- MEDIA-MOBILE-L-STYLES --------------------------------------------------------
@media screen and (max-width: 425px)
	.Navbar 
		.hamburger, 
		.close-btn
			font-size: 25px
	.Game
		padding: 20px
		height: 245px
		&:hover
			border: 2px solid #c7afd8bf
			.hover-description
				display: none
			.image-div 
				height: 70%
		h3
			font-size: 14px

	.StaffPick 
		button
			font-size: 10px
			padding: 12px 17px
		&:hover
			border: 2px solid #eee
			button
				background-color: white
				color: #615c5c
		.description-div
			&::after
				bottom: 104px
				height: 22px
	.Footer 
		.col-md-4:nth-child(2),
		.col-md-4:nth-child(1) 
			border-bottom: 1px solid #eeeeee9e
			p
				margin-bottom: 25px
		img
			width: 6%
	.Gamepage 
		.row:nth-child(2) 
			.row
				display: block
				text-align: center
				p
					margin-top: 10px
		> .row:nth-child(4)
			margin-top: 30px
			margin-bottom: 30px
		.p-left
			padding-left: 0
		.stepImg
			width: 50%

@media screen and (max-width: 421px)
	.Navbar 
		.hamburger, 
		.close-btn
			margin-left: 10px
	.StaffPick
		h3
			font-size: 16px
		button
			padding: 15px 0

@media screen and (max-width: 402px)
	.StaffPick
		h3
			font-size: 16px

@media screen and (max-width: 388px)
	.StaffPick
		h3
			font-size: 15px

@media screen and (max-width: 375px)
	.StaffPick
		padding: 15px 15px 15px 15px
		h3
			font-size: 15px
		button
			padding: 12px 15px
		.description-div
			&::after
				bottom: 101px
				height: 29px

@media screen and (max-width: 375px)
	.StaffPick
		button
			padding: 15px 0
	.Navbar
		.hamburger, 
		.close-btn
			margin-left: 0

@media screen and (max-width: 375px)
	.StaffPick
		h3
			font-size: 14px
	.Game
		padding: 15px
	.Filters
		button
			padding: 12px 5px

@media screen and (max-width: 324px)
	.Game
		h3
			font-size: 13px

@media screen and (max-width: 320px)
	.Game
		h3
			font-size: 13px
			margin-top: 10px
		p
			font-size: 9.5px
	.StaffPick
		padding: 15px 10px 15px 10px
		h3
			font-size: 15px
		button
			padding: 12px 6px
	.Footer 
		.m-y
			margin-top: 5px
	.Filters 
		button
			font-size: 10.5px

@media screen and (max-width: 317px)
	.StaffPick
		button
			font-size: 9px
		.description-div::after
			bottom: 98px

@media screen and (max-width: 314px)
	.StaffPick
		h3
			font-size: 14px

@media screen and (max-width: 300px)
	.StaffPick
		h3
			font-size: 13px
		button
			font-size: 8.5px
	.Footer
		img
			width: 7%

@media screen and (max-width: 291px)
	.Filters
		button
			padding: 12px 3px
	.Navbar
		img
			width: 100%
	.StaffPick
		button
			font-size: 8px

@media screen and (max-width: 287px)
	.Filters
		button
			font-size: 9.5px
	.Navbar
		.hamburger
			margin-left: -5px
	.StaffPick
		h3
			font-size: 12px

@media screen and (max-width: 281px)
	.StaffPick
		button
			font-size: 7px

@media screen and (max-width: 277px)
	.StaffPick
		h3
			font-size: 11px
	.StaffPicks
		h4:first-child
			font-size: 17px

@media screen and (max-width: 263px)
	.StaffPicks
		h4:first-child
			font-size: 16px
		.purple-hr
			top: 17px